# ─── PostgreSQL ───────────────────────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=finance_db

# ─── Django ───────────────────────────────────────────────────────────────────
SECRET_KEY=gere-uma-chave-com-python-secrets-token-hex-50
DEBUG=False
ALLOWED_HOSTS=monarcafinanceiro.com.br,www.monarcafinanceiro.com.br
